<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row justify-content-center ">
  <div class="col-md-8 col-sm-12">
    <form [formGroup]="roleForm" (ngSubmit)="addRole()">
      <div class="form-group">
        <label for="nameInput">Role Name:</label>
        <input id="nameInput" class="form-control" formControlName="name">
      </div>
      <div class="py-3 " formArrayName="permissions">
        <div class="d-flex my-3 row" *ngFor="let permission of permissionsArray.controls; let i = index">
          <div class="col-lg-6 col-sm-12 d-flex ">
            <input class="form-control " type="text" [formControlName]="i">
          <button type="button" class="btn ms-3 btn-danger" (click)="removePermission(i)">Remove</button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-info" (click)="addPermission()">Add Permission</button>

      <button [disabled]="roleForm.invalid" type="submit" class="btn ms-3 btn-primary">Submit</button>
    </form>
  </div>
</div>
